
.card
{
  position: relative;
    width: 15rem;
    height: 26rem;
    margin-top: 30px;
    margin-left: 60px;
}

.card-img-top
{
  height: 14rem;
}



@media screen and (max-width:360px) {
  .card
  {
    margin:auto;
    margin-top: 10px;
  }
  
}